/*首页标语*/
#sloganBox {
    //positon: relative;
    padding-top: 50px;
    height: 30%;
	min-height: 200px;
    color: white;
    
    #indexPostBig {
        position: relative;
        left: 200px;
        width: 400px;
        font-size: 32px;
        p {
            margin-bottom: 16px;
            //opacity: 0;
        }
        #topSlogan-01 {
            text-align: left;
        }
        #topSlogan-02 {
            text-align: right;
        }
    }

    #indexPostSmall {
        position: relative;
        left: 640px;
        top: 10px;
        width: 220px;
        font-size: 24px;
        p {
            text-align: left;
            margin-bottom: 12px;
            //opacity: 0;
        }
    }
}

/*首页信息框*/
#indexUpdateInfo {
	position: relative;
	//padding-top : 200px;
	//width: 720px!important;
	margin:0 auto;
	color: #fff;
}
.topUpdateInfoWrapper {
    width: 720px!important;
}
#infoControlPrev {
	position: absolute;
	left: 0;
	bottom: 50px;
    z-index: 998;
    a {
        //background: url(../img/arrow.png) 0 0;
    }

    a:hover {
        //background-position: left -70px;
    }
}

#infoControlNext {
	position: absolute;
	right: 0;
	bottom: 50px;
    z-index: 998;

    a {
        //background: url(../img/arrow.png) right 0;
    }

    a:hover {
        //background-position: right -70px;
    }
}

	.browse {
		width: 30px;
		height: 70px;
		display: block;
		cursor: pointer;
    }
    
#topUpdateInfo {
	background: rgba(0, 0, 0, 0.6);
	padding: 10px 35px;
	height: 150px!important;
}
	.topUpdateInfoList {
		/*position: relative;*/
		float: left;
		width: 720px;
		font-size: 14px;
		text-align: left;
		padding-left: 40px;
        padding-top: 15px;
        
        dt {
			float: left;
			padding-left: 25px;
        }
        
        .new {
            //background: url(../img/new.png) no-repeat 0 2px;
        }

        dd {
			margin: 0 0 0 130px;
			padding-right: 35px;
			padding-bottom: 8px;
            /*line-height: 1.8em;*/
            a { color: #69F; }
            a:hover { text-decoration: underline; }

        }
        
	}
