//旧站用样式
.whitebox.header {
    margin-top: 30px;
}
.whitebox {
    margin-bottom: 30px;
    padding: 10px 10px;
    display: inline-block;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    transition-duration: .5s;

    a {
        color: #69F;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    .caption {
        text-align: right;
        font-size: 36px;
    }

    h2 {
        display: block;
        padding: 5px 10px;
        font-size: 28px;
        //line-height: 30px;
    }

    h3 {
        padding: 10px 0 8px 3px;
        font-size: 20px;
        border-bottom: 2px #333 solid;
    }

    h4 {
        //text-align: left;
        margin: 10px 0 10px 10px;
        padding-left: 5px;
        font-size: 16px;
        border-left: 3px #69F solid;
    }
    
    aside {
        padding: 5px 5px 10px 0;
        text-align: right;
        font-size: 12px;
    }
    
    ul {
        padding: 10px 30px;
        text-align: left;
        font-size: 14px;
        
        li {
            line-height: 1.8em;
        }
    }

    .leftselect {
        width: 20%;
        ul {
            padding: 0;
            list-style-type: none;
            font-size: 14px;
            li {
                color: #6E6E6E;
			    display: block;
			    padding-left: 10px;
			    text-decoration: none;
            }
            li.tablist {
                text-transform: none;
                transition: color .1s ease-in 0s;
            }
            li.tablist:hover {
                color: #69F;
                //background: #6E6E6E;
            }
            li.current {
                color: #69F;
            }
        }
    }
    
    .rightinfo {
        width: 80%;
    }

}


/*项目与作品*/

#gameInfo {
	float: left;
	width: 780px;
}
.gameType {
	border-bottom: 1px #69F solid;
	line-height: 27px;
	text-align: left;
}
.gameNothing {
	list-style-type: none;
	padding:20px 20px;
}
	.gameNothing p {
		margin: 5px;
	}
	.gameNothing a {
		color: #69F;
		text-decoration: underline;
	}
	.gameNothing a:hover {
		text-decoration: none;
	}
.gameDetail {
	padding-bottom: 20px;
}
	.gameDetail h3 {
		margin: 10px 0 5px;
		font-size: 16px;
		color: #69F;
	}
	.gameDetail ul li {
		float: left;
	}
.gamePic a {
	display: block;
	width: 200px;
	height: 150px;
	padding: 5px 5px;
}
.gameSum {
	width: 560px;
	height: 150px;
	padding: 5px 5px;
}
	.gameSum p {
		padding: 5px;
	}
		.gameSum p a {
			color: #69F;
			text-decoration: underline;
		}
		.gameSum p a:hover {
			text-decoration: none;
		}