<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>最新消息</title>
	<meta name="description" content="掀桌游戏，用心做自己的游戏！" />
	<meta name="keywords" content="游戏,梦想,代码,二次元" />
	<meta name="author" content="李 昇運" />
	<link rel="stylesheet" href="./css/indextype.css" />
</head>
<body>
<div id="bg">
	<img src="./img/bg.jpg" alt="" />
	<!--background pic-->
</div>

	<div id="sideNavEffect">
		<!--边导航特效-->
		<nav id="sideNav">
			<!--边导航框架-->
			<h1><a href="/" title="主页"><img src="./img/menu1.png" /></a></h1>
			<!--主页图标-->
			<ul id="sideNavMenu" class="sideList">
				<!--导航栏-->
				<li><a href="./about.html" title="掀桌游戏">关于</a></li>
				<li><a href="./member.html" title="掀桌家庭">掀桌成员</a></li>
				<li class="subMenu">
					<a href="./works/" title="Free Game">作品列表</a>
					<ul class="subNav">
						<li><a href="./works/01.html" title="第一作">第一作</a></li>
					</ul>
				</li>
				<li><a href="./news.html" title="最新消息">最新消息</a></li>
				<li class="subMenu">
					<a href="./project/" title="开发项目">开发项目</a>
					<ul class="subNav">
						<li><a href="./project/01.html" title="推理">我的留学生活</a></li>
						<li><a href="./project/02.html" title="M&S"> M&S </a></li>
						<li><a href="./project/03.html" title="未命名">古风</a></li>
					</ul>
				</li>
				<li class="subMenu">
					<a href="./source/" title="游戏素材">素材</a>
					<ul class="subNav">
						<li><a href="./source/music.html" title="音乐">音乐</a></li>
						<li><a href="./source/pic.html" title="图片">图片</a></li>
					</ul>
				</li>
				<li><a href="./painter.html" title="画廊">画廊</a></li>
				<li><a href="./partner.html" title="友情链接">友情链接</a></li>
				<li><a href="./contract.html" title="联系我们">联系方式</a></li>
			</ul>
		</nav>
	</div>
	<div id="contentEffect">
		<!--正文特效-->
		<div id="mainContent">
		<!--正文框架-->
			<ul id="contentList" class="clearfix">
				<li><a href="./" title="掀桌游戏">掀桌游戏</a></li>
				<li>最新消息</li>
			</ul>
			<!--news add here-->
			<article id="news011" class="updateNews">
				<h3>开放下载</h3>
				<aside>
					<time>2014年8月15日</time>
				</aside>
				<h4>这不是我的高中生活</h4>
				<ul>
					<li>可以<a href="./project/01/download.html">下载</a>了！！！——才怪</li>
				</ul>
				<div class="pageTopLink">
					<a href="" title="PAGETOP">PAGETOP</a>
				</div>
			</article>
			<article id="news011" class="updateNews">
				<h3>添加新页面</h3>
				<aside>
					<time>2014年8月14日</time>
				</aside>
				<h4>这不是我的高中生活</h4>
				<ul>
					<li>『这不是我的高中生活（暂定）』的<a href="./project/01/tips-ending.html">结局介绍</a>初步完成了。</li>
				</ul>
				<div class="pageTopLink">
					<a href="" title="PAGETOP">PAGETOP</a>
				</div>
			</article>
			<article id="news010" class="updateNews">
				<h3>添加新页面</h3>
				<aside>
					<time>2014年7月8日</time>
				</aside>
				<h4>这不是我的高中生活</h4>
				<ul>
					<li>『这不是我的高中生活（暂定）』的<a href="./project/01/character.html">角色介绍</a>可以观看了。</li>
				</ul>
				<div class="pageTopLink">
					<a href="" title="PAGETOP">PAGETOP</a>
				</div>
			</article>
			<article id="news009" class="updateNews">
				<h3>添加新页面</h3>
				<aside>
					<time>2014年7月6日</time>
				</aside>
				<h4>这不是我的高中生活</h4>
				<ul>
					<li>可以看到『这不是我的高中生活（暂定）』的<a href="./project/01/introduction.html">游戏简介</a>了。</li>
					<li>还有分集介绍哦，点<a href="./project/01/story.html">这里</a>！</li>
				</ul>
				<div class="pageTopLink">
					<a href="" title="PAGETOP">PAGETOP</a>
				</div>
			</article>	
            <article id="news008" class="updateNews">
				<h3>游戏主页完成</h3>
				<aside>
					<time>2014年7月5日</time>
				</aside>
				<h4>这不是我的高中生活</h4>
				<ul>
					<li>『这不是我的高中生活（暂定）』的<a href="./project/01.html">介绍首页</a>设计好了。</li>
				</ul>
				<div class="pageTopLink">
					<a href="" title="PAGETOP">PAGETOP</a>
				</div>
			</article>
			<article id="news007" class="updateNews">
				<h3>添加新页面</h3>
				<aside>
					<time>2014年7月2日</time>
				</aside>
				<h4>最新页面</h4>
				<ul>
					<li>所有制作中的游戏在<a href="./project/">这里</a>可以看到了。</li>
				</ul>
				<div class="pageTopLink">
					<a href="" title="PAGETOP">PAGETOP</a>
				</div>
			</article>
			<article id="news006" class="updateNews">
				<h3>添加新页面</h3>
				<aside>
					<time>2014年7月1日</time>
				</aside>
				<h4>最新页面</h4>
				<ul>
					<li>姑且公开了网页的<a href="/contract.html">联系方式</a>！</li>
				</ul>
				<div class="pageTopLink">
					<a href="" title="PAGETOP">PAGETOP</a>
				</div>
			</article>
			<article id="news005" class="updateNews">
				<h3>添加新页面</h3>
				<aside>
					<time>2014年6月30日</time>
				</aside>
				<h4>最新页面</h4>
				<ul>
					<li><a href="/partner.html">友情链接</a>水水地完成了！</li>
				</ul>
				<div class="pageTopLink">
					<a href="" title="PAGETOP">PAGETOP</a>
				</div>
			</article>
			<article id="news004" class="updateNews">
				<h3>添加新页面</h3>
				<aside>
					<time>2014年6月29日</time>
				</aside>
				<h4>最新页面</h4>
				<ul>
					<li>网站添加了<a href="/news.html">最新消息</a>！</li>
				</ul>
				<div class="pageTopLink">
					<a href="" title="PAGETOP">PAGETOP</a>
				</div>
			</article>
			<article id="news003" class="updateNews">
				<h3>添加新页面</h3>
				<aside>
					<time>2014年6月28日</time>
				</aside>
				<h4>成员页面</h4>
				<ul>
					<li>编写完成了掀桌小组组员的介绍。</li>
					<li><a href="/member.html">成员介绍</a>页面可以进入了！</li>
				</ul>
				<div class="pageTopLink">
					<a href="" title="PAGETOP">PAGETOP</a>
				</div>
			</article>
			<article id="news002" class="updateNews">
				<h3>添加新页面</h3>
				<aside>
					<time>2014年6月27日</time>
				</aside>
				<h4>关于页面</h4>
				<ul>
					<li>增加了<a href="/about.html">关于掀桌</a>网站的介绍页面。</li>
				</ul>
				<div class="pageTopLink">
					<a href="" title="PAGETOP">PAGETOP</a>
				</div>
			</article>
			 <article id="news001" class="updateNews">
				<h3>掀桌主页建立</h3>
				<aside>
					<time>2014年6月22日</time>
				</aside>
				<h4>设计</h4>
				<ul>
					<li>掀桌游戏的网站框架架构完成！</li>
					<li><a href="/">掀桌主页</a>设计完成。</li>
					<li>即日起可以浏览啦！</li>
				</ul>
				<div class="pageTopLink">
					<a href="" title="PAGETOP">PAGETOP</a>
				</div>
			</article>
		</div>
	</div>
	<div id="siteFoot">
	</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script src="./js/jquery.maximage.js"></script>
<script src="./js/jquery.cycle.min.js"></script>
<script src="./js/jquery.snow.js"></script>
<script src="./js/jquery.easing.1.3.js"></script>
<script src="./js/jquery.colorbox.js"></script>
<script src="./js/index.js"></script>
</body>
</html>